@use "../base/variables" as vars;

.contact {
	background: no-repeat top left;
	background-size: 80%;
	.contact-container {
		.contact-form-container {
			.contact-title {
				.contact-subtitle { font-size: 22px; color: vars.$btn; }
				.contact-heading { font-size: 50px; color: vars.$h_txt; }
				.contact-description { font-size: 22px; color: vars.$desc_txt; }
			}
			.contact-form {
				.form-row {
					.first-name, .last-name {
						flex: 1;
						padding: 15px 20px;
						border: 1px solid vars.$border;
						border-radius: 14px;
						font-size: 16px;
						color: #c5c5c5;
					}
				}
				input, textarea {
					width: 100%;
					padding: 15px 20px;
					border: 1px solid vars.$border;
					border-radius: 14px;
					&::placeholder {
						font-size: 16px;
						letter-spacing: 0.1rem;
						color: #c5c5c5;
					}
				}
				textarea { resize: none; }
				.send-button {
					background-color: vars.$btn;
					font-size: 20px;
					box-shadow: 0px 8px 16px rgba(255, 100, 174, 0.3);
					transition: all 0.3s ease;
					&:hover {
						background-color: darken(vars.$btn, 10%);
						box-shadow: 0px 12px 24px rgba(224, 84, 151, 0.3);
					}
				}
			}
		}
	}
	@media (max-width: 1440px) {
		padding: 120px 5%; top: -320px;
		.contact-container {
			.contact-image { top: 156px; left: 78px; width: 520px; }
			.contact-form-container {
				top: 82px;
				right: 58px;
				width: 100%;
				max-width: 540px;
				.contact-title {
					margin-bottom: 20px;
					.contact-subtitle {
						font-size: 17px;
						font-weight: 600;
						letter-spacing: -0.03rem;
						margin-bottom: 9px;
					}
					.contact-heading {
						font-size: 36px;
						font-weight: 600;
						line-height: 46px;
						letter-spacing: -0.005rem;
						margin-bottom: 17px;
					}
					.contact-description {
						font-size: 17px;
						font-weight: 500;
						letter-spacing: 0.062rem;
					}
				}
				.contact-form {
					.form-row {
						.first-name, .last-name {
							top: 26px;
							max-width: 242px;
							height: 62px;
							padding: 15px 20px;
							border-radius: 14px;
							font-size: 16px;
						}
						.first-name { left: 0; padding: 0 23px; padding-bottom: 2px; }
						.last-name { left: 21px; padding: 0 26px; padding-bottom: 2px; }
					}
					input, textarea {
						width: 100%;
						max-width: 520px;
						border: 1px solid vars.$border;
						border-radius: 14px;
						&::placeholder { font-size: 16px; }
					}
					.email {
						top: 41px;
						height: 60px;
						padding: 0 23px;
						padding-bottom: 2px;
					}
					.subject { top: 57px; height: 60px; padding: 24px 22px; }
					textarea { top: 73px; height: 238px; padding: 24px 22px; }
					.send-button {
						top: 104px;
						width: 250px;
						height: 58px;
						background-color: vars.$btn;
						font-size: 16px;
						box-shadow: 0px 8px 16px rgba(255, 100, 174, 0.3);
						transition: all 0.3s ease;
						padding-bottom: 2px;
						&:hover {
							background-color: darken(vars.$btn, 10%);
							box-shadow: 0px 12px 24px rgba(224, 84, 151, 0.3);
						}
					}
				}
			}
		}
	}
	@media (max-width: 1280px) {
		padding: 100px 5%; top: 0;
		.contact-container {
			flex-direction: column;
			gap: 20px;
			align-items: center;
			text-align: center;
			.contact-image { width: 400px; }
			.contact-form-container { top: 120px;
				.contact-title .contact-heading { font-size: 32px; }
				.contact-form {
					.form-row { .first-name, .last-name { max-width: 100%; } }
					input, textarea { font-size: 14px; padding: 12px 18px; }
					.send-button { width: 200px; height: 50px; font-size: 14px; }
				}
			}
		}
	}
}
