@use "../base/variables" as vars;
@use "../base/mixins" as mixins;

.header {
	width: 80%;
 	margin: 41px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	.logo {
		@include mixins.flex-center;
		position: relative;
		gap: 16px;
		top: 14px;
		left: 6px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
		text-decoration: none;
		.logo-icon { min-width: 104px; height: auto; }
		.logo-text {
			padding: 0 10px;
			font-size: 32px;
			font-weight: 700;
			color: vars.$h_txt;
			letter-spacing: 0.2rem;
			line-height: 1;
		}
	}
	.main-menu {
		position: relative;
		top: 14px;
		left: 106px;
		min-width: 702px;
		ul {
			display: flex;
			justify-content: space-around;
			list-style: none;
			width: 100%;
			li a {
				text-decoration: none;
				font-size: 1.3rem;
				line-height: 1rem;
				font-weight: 600;
				letter-spacing: 0.12rem;
				color: vars.$desc_txt;
				&:hover { color: vars.$btn; }
				&.active { color: #414880; }
			}
			li a.about { position: relative; top: -2px; left: 0; }
			li a.service { position: relative; top: 0; left: -2px; }
			li a.gallery { position: relative; top: 0; left: 0; }
		}
	}
	.contact-button {
		position: relative;
		top: 12px;
		right: 14px;
		width: 210px;
		height: 68px;
		border-radius: 50px;
		border: none;
		background-color: vars.$btn;
		color: #fff;
		font-size: 1.3rem;
		line-height: 1rem;
		font-weight: 600;
		letter-spacing: 0.12rem;
		cursor: pointer;
		&:hover { background-color: #e05497; }
	}

	@media (max-width: 1440px) {
		.logo {
			gap: 10px; top: 0; left: 4px;
			.logo-icon { min-width: 80px; }
			.logo-text { font-size: 24px; letter-spacing: 0.15rem; }
		}
		.main-menu {
			top: 0; left: 80px; min-width: 526px;
			ul li a { font-size: 1rem; letter-spacing: 0.1rem; }
			ul li a.about { left: -2px; }
			ul li a.service { top: 0; left: -2px; }
			ul li a.gallery { top: 0; left: -2px; }
		}
		.contact-button {
			top: -2px;
			right: 4px;
			width: 159px;
			height: 50px;
			font-size: 1rem;
		}
	}
	@media (max-width: 1320px) {
		.logo {
			gap: 10px; top: 0; left: 0;
			.logo-icon { min-width: 60px; }
			.logo-text { font-size: 18px; letter-spacing: 0.15rem; }
		}
		.main-menu { top: 0; left: 40px; min-width: 500px; }
	}
	@media (max-width: 1180px) {
		flex-direction: column;
		align-items: center;
		.logo {
			position: static; gap: 10px;
			.logo-icon { min-width: 90px; }
			.logo-text { font-size: 20px; letter-spacing: 0.15rem; }
		}
		.main-menu {
			position: static; margin-top: 20px;
			ul {
				flex-direction: column; align-items: center; gap: 10px;
				li a { font-size: 1rem; letter-spacing: 0.1rem; }
			}
		}
		.contact-button {
			position: static;
			margin-top: 20px;
			width: 160px;
			height: 50px;
			font-size: 1rem;
		}
	}
}
