@use "../base/variables" as vars;
@use "../base/mixins" as mixins;

.hero {
	@include mixins.flex-center;
	padding: 0 10%;
	margin-top: 168px;
	gap: 2.6rem;
	.hero-content {
		h1 {
			font-size: 66px;
			line-height: 5rem;
			letter-spacing: 0.012rem;
			color: vars.$h_txt;
			margin-top: 6px;
			margin-left: 8px;
			margin-bottom: 10px;
		}
		p {
			font-size: 1.3rem;
			color: vars.$h_txt;
			margin-bottom: 2.45rem;
			line-height: 1.8rem;
			margin-left: 8px;
			white-space: nowrap;
		}
		button {
			width: 260px;
			height: 80px;
			padding: 1rem 2rem;
			background-color: vars.$btn;
			color: #fff;
			font-size: 1.2rem;
			letter-spacing: 0.12rem;
			transition: background-color 0.3s ease;
			box-shadow: 0px 17px 22px rgba(255, 237, 246, 0.8);
			&:hover {
				background-color: #e05497;
				box-shadow: 0px 17px 22px rgba(255, 237, 246, 1);
			}
		}
	}
	.hero-image {
		width: 60%; top: 0; right: 20px;
		img { width: 100%; height: auto; }
	}

	@media (max-width: 1440px) {
		margin-top: 180px; gap: 2.6rem;
		.hero-content {
			width: 50%;
			h1 {
				font-size: 50px;
				line-height: 60px;
				letter-spacing: -0.068rem;
				margin-top: -70px;
				margin-left: 45px;
				margin-bottom: 8px;
			}
			p {
				font-size: 17px;
				margin-bottom: 34px;
				line-height: 24px;
				letter-spacing: 0.068rem;
				margin-left: 45px;
			}
			button {
				margin-left: 44px;
				width: 201px;
				height: 58px;
				font-size: 16px;
				letter-spacing: 0.1rem;
			}
		}
		.hero-image { right: 8px; top: -26px; }
	}
	@media (max-width: 768px) {
		flex-direction: column;
		height: auto;
		padding: 0 5%;
		.hero-content, .hero-image {
			width: 100%;
			text-align: center;
		}
		.hero-image img { width: 100%; margin: 20px auto; }
		h1 { font-size: 2.5rem; line-height: 3rem; }
		button {
			width: auto;
			height: auto;
			padding: 0.8rem 1.5rem;
			font-size: 1rem;
		}
	}
}
