@use "../base/variables" as vars;

.professional {
	padding: 100px 10%;
	.professional-title {
		margin-bottom: 30px;
		.professional-subtitle { font-size: 22px; margin-bottom: 4px; color: vars.$btn; }
		.professional-heading { font-size: 48px; margin-bottom: 20px; color: vars.$h_txt; }
		.professional-description {
			font-size: 22px;
			color: vars.$desc_txt;
			margin: 0 auto;
		}
	}
	.professional-boxes {
		.pro-box {
			background-color: rgba(255, 255, 255, 0);
			transition: all 0.3s ease;
			&.active {
				transform: scale(1.02);
				box-shadow: 0px 12px 36px rgba(85, 73, 104, 0.2);
			}
			.pro-avatar { margin: 120px auto 0; width: 190px; height: 190px; }
			.pro-role { margin-top: 60px; font-size: 22px; color: vars.$btn; }
			.pro-name { font-size: 24px; color: vars.$h_txt; }
			.pro-desc {
				margin: 20px 40px 0;
				font-size: 18px;
				color: vars.$desc_txt;
			}
			.pro-social {
				img {
					box-shadow: 0px 4px 8px rgba(32, 32, 75, 0.1);
					transition: all 0.3s ease;
					&:hover { box-shadow: 0px 6px 12px rgba(32, 32, 75, 0.2); }
				}
			}
		}
	}
	@media (max-width: 1440px) {
		padding: 100px 10%; top: -256px;
		.professional-title {
			.professional-subtitle { font-size: 16px; margin-bottom: 6px; letter-spacing: 0.006rem; }
			.professional-heading { font-size: 35px; margin-bottom: 17px; letter-spacing: 0.03rem; }
			.professional-description { font-size: 16px; }
		}
		.professional-boxes {
			top: 89px;
			.pro-box {
				width: 505px; height: 614px;
				&.active { width: 564px; }
				.pro-avatar { margin: 88px auto -10px; width: 144px; height: 144px; }
				.pro-role { font-size: 16px; }
				.pro-name { margin-top: 10px; font-size: 18px; letter-spacing: -0.02rem; }
				.pro-desc {
					margin-top: 16px;
					min-width: 260px;
					padding: 0 24px;
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.07rem;
				}
				.pro-social {
					margin-top: 50px; gap: 34px;
					img { width: 46px; height: 46px; }
				}
			}
			.pro-box.left { right: 16px; }
			.pro-box.right { left: 16px; }
			.pro-box.left, .pro-box.right {
				.pro-avatar { margin: 86px auto -8px; }
				.pro-desc { margin-top: 20px; }
				.pro-social { gap: 36px; }
			}
		}
	}
	@media (max-width: 1270px) {
		padding: 100px 6%;
		.professional-boxes { top: 80px; }
	}
	@media (max-width: 1130px) {
		padding: 80px 14px; top: 20px;
		.professional-boxes {
			top: 70px;
			.pro-box {
				width: 360px; height: 580px;
				&.active { width: 400px; }
				.pro-avatar { margin: 80px auto -12px; width: 130px; height: 130px; }
				.pro-role { font-size: 14px; }
				.pro-name { font-size: 16px; }
				.pro-desc { font-size: 12px; line-height: 18px; }
				.pro-social {
					gap: 20px;
					img { width: 40px; height: 40px; }
				}
			}
		}
	}
	@media (max-width: 1060px) {
		padding: 80px 10px; top: 10px;
		.professional-boxes {
			top: 60px;
			.pro-box {
				width: 320px; height: 540px;
				&.active { width: 380px; }
				.pro-avatar { margin: 60px auto -12px; }
			}
		}
	}
	@media (max-width: 1000px) {
		padding: 80px 5%; top: 40;
		.professional-boxes {
			flex-direction: column; gap: 40px;
			.pro-box.left { right: 0; }
			.pro-box.right { left: 0; }
			.pro-box {
				width: 540px; height: 560px;
				&.active { width: 460px; }
				.pro-avatar { margin: 50px auto -12px; width: 180px; height: 180px; }
				.pro-role { font-size: 16px; }
				.pro-name { font-size: 18px; }
				.pro-desc { font-size: 14px; line-height: 18px; }
				.pro-social {
					gap: 20px;
					img { width: 40px; height: 40px; }
				}
			}
		}
	}
	@media (max-width: 768px) {
		padding: 60px 20px; top: 160px;
		.professional-boxes {
			gap: 30px; top: 20px;
			.pro-box {
				width: 380px; height: 520px;
				&.active { width: 380px; }
				.pro-avatar { margin: 70px auto 0; width: 110px; height: 110px; }
				.pro-role { font-size: 14px; }
				.pro-name { font-size: 16px; }
				.pro-desc { font-size: 12px; line-height: 16px; }
				.pro-social {
					gap: 18px;
					img { width: 36px; height: 36px; }
				}
			}
		}
	}
	@media (max-width: 480px) {
		padding: 40px 15px; top: 200px;
		.professional-boxes {
			gap: 60px;
			.pro-box {
				width: 300px; height: 450px;
				&.active { width: 320px; }
				.pro-avatar { margin: 60px auto 0; width: 90px; height: 90px; }
				.pro-role { font-size: 12px; }
				.pro-name { font-size: 14px; }
				.pro-desc { font-size: 10px; line-height: 14px; }
				.pro-social {
					gap: 16px;
					img { width: 32px; height: 32px; }
				}
			}
		}
	}
}
