@use "../base/variables" as vars;

.to-top {
	background-color: vars.$btn;
	box-shadow: 0px 8px 16px rgba(255, 100, 174, 0.3);
	visibility: hidden;
	transition: all 0.3s ease;
	&:hover {
		background-color: darken(vars.$btn, 10%);
		box-shadow: 0px 12px 24px rgba(224, 84, 151, 0.3);
	}
	&.show { opacity: 1; visibility: visible; }
	@media (max-width: 1440px) {
		bottom: 176px;
		right: 66px;
		width: 36px;
		height: 36px;
		img { width: 18px; height: 18px; }
	}
	@media (max-width: 768px) { right: 70px; }
}
