//// base
@use './base/variables';
@use './base/mixins';
@use './base/reset';

//// Apply global styles
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Poppins', sans-serif;
	background: url('../assets/bubble_header_bg.svg') no-repeat top left;
	background-size: 88%;
}


//// Import tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
